1. Data Types

In [26]:
name = "Lohit"    # string
institute = "Edukron"   # string
age = 30  # integer
height = 5.7 # float
is_student = False    # blooen
gender = "Male"

In [7]:
type(institute)    # fucntion takes input processes and gives output

str

### VARIABLES

What is a varible?
- A variable is like labeled box that stores data in your computer's memory.
You can put different types of information in it and refer to it by name.

In [10]:
name

'Lohit'

In [11]:
age

30

In [12]:
height

5.7

In [22]:
is_student

False

In [24]:
gender

'Male'

In [19]:
# Rule for variable name (Comment)

# for every comment you have to use # separetly

# Rule for variable name

must follow these below rules

- 1. **Start with letter or underscore** - not a number

- 2. Only contain letters number and underscores

- 3. Case-senstive
Name, name, NaMe python will identify these as different variables

- 4. Cannot be Python keywords
if, for, while, class ,def , return

Left = Right

Varible_name = Value

In [60]:
name = "Lohit"    # string
institute = "Edukron"   # string
age = 30  # integer
height = 5.7 # float
student = False    # blooen
gender = "Male"

In [65]:
student = True

In [67]:
print(name)
print(gender)

Lohit
Male

In [64]:
student

False

In [55]:
age = 25

In [58]:
age2 = 34

In [59]:
age2

34

In [56]:
age

25

In [ ]:
# common beginer mistakes
2student = 25
first-name = "John"
class = "Python"

student2 = 25
first_name = "John"
class_name = "Python"

In [34]:
# **Start with letter or underscore** - not a number
name, _age, studnet1
1name = "lohit" (wrong way)
name = "lohit"    (right way)
_name = "lohit"   (right way)

In [36]:
# 2. Only contain letters number and underscores

#!@#$%%&*()_+

first_name = "Lohit"  (rgiht way)
first@name = "Lohit"  (wrong way)
first name = "lohit"  (wrong way)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-1258150577.py, line 5)

In [37]:
# 3. Case-senstive

name = "amit"
Name = "sumit"
naMe = "Suchit"

In [38]:
name

'amit'

In [39]:
Name

'sumit'

In [40]:
naMe

'Suchit'

In [44]:
name = "Chiranth"

In [45]:
Name

'sumit'

In [52]:
# 4. Cannot be Python keywords
# if, for, while, class ,def , return

return = 4

SyntaxError: invalid syntax (ipython-input-228211091.py, line 4)

## Python Operators

Operators are symbols used ot perform operations on data.

for_example = +, -, *, / are operators

Opertor = action

Operand = Data

In [ ]:
name = "Lohit"    # string
institute = "Edukron"   # string
age = 30  # integer
height = 5.7 # float
student = False    # blooen
gender = "Male"

## Arithmetic Operators

**Used for basic math calculations.**

**operator -**

- '+' = Addition    10 + 5 = 15
- '-' = Substraction   10 - 5
- '*' = Multiplication  10 * 5
- / = Division (float)  10/4
- // = Floor Division (give whole numbers)  10//4
- % = Modulus (Remainder) 10% 4
- ** = Exponent(power)  2**3

In [76]:
2**3    # give the power value 2^3

8

In [73]:
10 % 4    # returns the reminder after division

2

In [78]:
10//3  # give you whole number instead of 3.333333 it gives 3

3

In [81]:
10/3   # division and always return decimal output(float)

3.3333333333333335

In [70]:
10 * 5    # simple multiplication

50

In [69]:
10 - 5    # simple substraction

5

In [68]:
10 + 5    # simple addtion

15

## Comparison (relational) operators

- Used to compare two values.
- They return True or False

- '==' : Equal to
- '!=' : Not equal to
- '>' : Greater than
- '<' : Less than
- '>=' : Greater than or equal to
- '<=' : Less than or equal to

In [89]:
print(5 == 3)    # False
print(5 == 5)    # True
print(5 != 5)    # False

False
True
False

In [90]:
x = 10
y = 20

In [92]:
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

## Logical Opertors

- Used to combine multiple conditions
- These operators also return True or False

opertors:
1. and : True if both conditions are True (5 > 3 and 10 > 5)

2. or : True is any one condition is True (5 > 3 or 10 < 5)

3. not : Reverse the result
not(5 > 3)

In [95]:
(5 > 3 and 10 > 5)    # both the condition should be true to get true as output

True

In [96]:
(5 > 3 and 10 < 5)

False

In [97]:
(5 > 3 or 10 < 5)   # at least one shold be True to get True as output

True

In [98]:
(5 > 3 or 10 > 5)

True

In [99]:
(5 < 3 or 10 < 5)

False

In [100]:
not(5 > 3)

False

In [101]:
not(5 < 3)

True

##vscode  Shorcuts
- to create cell above select cell (a,A)
-to create the cell below select(b,B)
-delete cell press (d twice)
-to convert code cell to markdown(m,M)
-to convert markdown  cell to code (Y,y)
-to run your shell(Shift_enter)or (control+enter)-->

In [ ]:
1+2

3