1. Count how many vowels are in a given string.

2. Reverse a number using only a for loop (no slicing).
Example: Input → 12345, Output → 54321

3. Find the sum of digits of a number.
Example: 5483 → 20

4. Print all even numbers between 1 and 100 using a for loop.

5. Find the factorial of a number.

6. Check whether a number is prime using a for loop.

7. Print the multiplication table of a number up to 10.

8. Count how many digits are in a number.

9. Find the largest number in a list.
Example: [4, 7, 1, 9, 3]

10. Print the following pattern for n = 4:


11. From 1 to 50, find:
a) sum of even numbers
b) sum of odd numbers

12. Remove all spaces from a string.
Example: "data science rocks" → "datasciencerocks"

13. Check whether a string is a palindrome.
Example: "madam"

14. Find duplicate values in a list.
Example: [1,2,3,2,4,5,1]

15. Print the frequency of each character in a string.
Example: "banana"

In [1]:
#1. Count how many vowels are in a given string.
vowel_count=0
s="This is a sample string"
for char in s.lower():
    if char in 'aeiou':
        vowel_count+=1

In [2]:
# 2. Reverse a number using only a for loop (no slicing).
# Example: Input → 12345, Output → 54321

n=12345
rev=""
for i in str(n):
    rev=str(i)+str(rev)
print(rev)

54321

In [3]:
# 3. Find the sum of digits of a number.
# Example: 5483 → 20
num=5483
sum=0
for i in str(num):
    sum=sum+int(i)
print(sum)

20

In [5]:
# 4. Print all even numbers between 1 and 100 using a for loop.

for i in range(1,101):
    if i%2==0:
        print(i ,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [7]:
# 5. Find the factorial of a number.
fact=1
for i in range(1,6):
    fact=fact*i
print(fact)

120

In [2]:
# 6. Check whether a number is prime using a for loop.
num=7

if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print(num,"is not a prime number")
            break
    else:
        print(num,"is a prime number")

7 is a prime number

In [5]:
# 7. Print the multiplication table of a number up to 10.
num=5
for i in range(1,11):
    print(f"{i} x {num} = {i*num}")

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [10]:
# 8. Count how many digits are in a number.

num=1234567
for i in str(num):
    count=len(str(num))
print(count)

7

In [13]:
# 9. Find the largest number in a list.
# Example: [4, 7, 1, 9, 3]

n=[4,7,1,9,3]
largest=n[0]
for i in n:
    if i>largest:
        
        largest=i
print(largest)

9

In [14]:
# 10. Print the following pattern for n = 4:

n=4
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [17]:
# 11. From 1 to 50, find:
# a) sum of even numbers
# b) sum of odd numbers

even_sum=0
odd_sum=0

for i in range(1,51):
    if i%2==0:
        even_sum+=i
    else:
        odd_sum+=i
        
print("Sum of even numbers:",even_sum)
print("Sum of odd numbers:",odd_sum)

Sum of even numbers: 650
Sum of odd numbers: 625

In [18]:
# 12. Remove all spaces from a string.
# Example: "data science rocks" → "datasciencerocks"
s="data science rocks"
s=s.replace(" ","")
print(s)

datasciencerocks

In [ ]:


# 13. Check whether a string is a palindrome.
# Example: "madam"
s="madam"
if s==s[::-1]:
    print("The string is a palindrome")
elif s!=s[::-1]:
    print("The string is not a palindrome")

The string is a palindrome

In [27]:
# 14. Find duplicate values in a list.
# Example: [1,2,3,2,4,5,1]
list=[1,2,3,2,4,5,1]
dub=[]
for i in list:
    if list.count(i)>1 and i not in dub:
        dub.append(i)       
        print(i)

1
2

In [29]:
# 15. Print the frequency of each character in a string.
# Example: "banana"
s="banana"
freq={}
for i in s:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print(freq)

{'b': 1, 'a': 3, 'n': 2}