ðŸŽ¯ Set Types
Set types represent unordered collections of unique items. They are useful for membership testing, removing duplicates, and performing mathematical set operations (like union, intersection, difference).

1. set
Explanation: Sets are mutable (changeable), unordered collections of unique, hashable items. Hashable means the items must be immutable (like numbers, strings, tuples, but not lists or other sets). Sets are defined using curly braces {} or the set() constructor. An empty set must be created with set(), as {} creates an empty dictionary.

In [1]:
# key chars of set 

# unique ites only (no duplicates)

list = []
tuple1 = ()

In [3]:
number = {1, 2, 3, 2, 1, 4} 
number

{1, 2, 3, 4}

In [4]:
type(number)

set

In [9]:
fruits = {"apple", "banana", "cherry", "apple" ,"guava"}
fruits

{'apple', 'banana', 'cherry', 'guava'}

In [14]:
items  = {"apple", "banana", "cherry", "apple" ,"guava", 1, 2, 3, 2, 1, 4, True, 3.5, 4.5}
items

{1, 2, 3, 3.5, 4, 4.5, 'apple', 'banana', 'cherry', 'guava'}

In [15]:
my_set = {5,1,2,5,6,7,8}

In [16]:
my_set

{1, 2, 5, 6, 7, 8}

In [18]:
my_set[0]   # you cannot access itesm by index

TypeError: 'set' object is not subscriptable

In [20]:
# Mutable (you can change it)

fruits = {"apple", "banana"}
fruits.add("orange")
fruits.remove("banana")
print(fruits)

{'orange', 'apple'}

In [22]:
# can only contain immutable(unchangeable) items 

# valid items in a set 

valid_set = { 2.5, "hello", True, (1,2)}
print(valid_set)

{'hello', 2.5, (1, 2), True}

In [23]:
# true :- 1 and False :- 0

In [27]:
# invalid = list are mutable (changable)

invalid_set = {1, 2,[3,4]}  # will give error

TypeError: unhashable type: 'list'

In [30]:
my_list = [] # mutable and slicing and indexing possible [Start, stop, step]

my_tuple = ()# immutable but slicing and indexing possible[start, stop, step] index and count methods available
my_set = {}# mutable but no slicing and indexing possible and unordered in nature. empty set declared like this will be dictionary

print(my_list)
print(type(my_list))

print(my_tuple)
print(type(my_tuple))

print(my_set)
print(type(my_set))

[]
<class 'list'>
()
<class 'tuple'>
{}
<class 'dict'>

In [36]:
list=[1,2,3,4,5]
list
tup=(1,2,3,4,5)
print(type(list))
set1=set(list)
set1
print(type(set1))
set2=set(tup)
print(type(set2))

<class 'list'>
<class 'set'>
<class 'set'>

In [37]:
# creat set from a string

letters = set("hello")
print(letters)
print(type(letters))

{'l', 'h', 'e', 'o'}
<class 'set'>

In [38]:
# changed list to tuple
numbers = set((1,2,3,4,5))
type(numbers)
print(numbers)

{1, 2, 3, 4, 5}

In [39]:
my_set = set()
type(my_set)

set

In [40]:
fruits = {"apple", "banana"}

In [42]:
fruits.add("orange")
fruits

{'apple', 'banana', 'orange'}

In [43]:
fruits.pop()
fruits

{'apple', 'banana'}

In [44]:
fruits.add("apple") # adding duplicate item will have no effect
fruits

{'apple', 'banana'}

In [45]:
#updated code after deletions
fruits

{'apple', 'banana'}

In [46]:
fruits.update({"mango", 'grape', 'kiwi'})
fruits

{'apple', 'banana', 'grape', 'kiwi', 'mango'}

In [47]:
fruits.update({"pear"})
fruits.update(("plum",))
print(fruits)

{'grape', 'plum', 'apple', 'banana', 'pear', 'kiwi', 'mango'}

In [48]:
fruits={'grape', 'plum', 'apple', 'banana', 'pear', 'kiwi', 'mango'}

In [49]:
fruits

{'apple', 'banana', 'grape', 'kiwi', 'mango', 'pear', 'plum'}

In [50]:
fruits.remove("banana")
fruits

{'apple', 'grape', 'kiwi', 'mango', 'pear', 'plum'}

In [55]:
fruits.clear()# clearing all items from set

In [52]:
fruits

set()

In [53]:
fruits={'apple', 'banana', 'grape', 'kiwi', 'mango', 'pear', 'plum'}

In [54]:
fruits

{'apple', 'banana', 'grape', 'kiwi', 'mango', 'pear', 'plum'}

In [56]:
fruits

set()

In [57]:
fruits={'apple', 'banana', 'grape', 'kiwi', 'mango', 'pear', 'plum'}

In [59]:
pavan_fruits = fruits.copy()

In [60]:
pavan_fruits

{'apple', 'banana', 'grape', 'kiwi', 'mango', 'pear', 'plum'}

In [61]:
id(fruits)

2030850796320

In [62]:
id(pavan_fruits)

2030850800128

In [63]:
b=fruits

In [64]:
id(b)

2030850796320

In [65]:
colors = {"red", "green", "blue", "yellow"}
print(colors)
colors.discard("green")
print(colors)

{'blue', 'yellow', 'green', 'red'}
{'blue', 'yellow', 'red'}

In [66]:
colors.discard("red")  # removing an item that is not present does not raise an error
print(colors)

{'blue', 'yellow'}

In [67]:
colors.discard("red")  # removing an item that is not present does not raise an error
print(colors)

{'blue', 'yellow'}

In [68]:
numbers = {1,2,3,4,5}
removed = numbers.pop()


print(f"Removed: {removed}")
print(f"Remaining: {numbers}")

Removed: 1
Remaining: {2, 3, 4, 5}

In [70]:
numbers = {1,2,3,4,5}
removed = numbers.pop()
print(f"Removed: {removed}")

Removed: 1

In [71]:
numbers = {1,2,3,4,5}
removed = numbers.pop(1)
print(f"Removed: {removed}")

TypeError: set.pop() takes no arguments (1 given)

In [72]:
list = [1,2,3,4,5]
list.pop()
print(list)

[1, 2, 3, 4]

In [73]:
list = [1,2,3,4,5]
list.pop(0)
print(list)

[2, 3, 4, 5]

In [74]:
fruits = {'apple', 'banana', 'kiwi'}
fruits

{'apple', 'banana', 'kiwi'}

In [75]:
"apple" in fruits

True

In [76]:
"apple" not in fruits

False

In [77]:
## getting set size 

numbers = {1,2,3,4,5}
numbers

{1, 2, 3, 4, 5}

In [78]:
len(numbers)

5

In [80]:
import keyword
kwlist = keyword.kwlist
kwlist
len(kwlist)

35

In [81]:
# looping through sets 

fruits_list = ['apple', 'banana', 'grape', 'kiwi', 'mango', 'pear', 'plum']

In [83]:
for i in fruits_list:
    print(i)

apple
banana
grape
kiwi
mango
pear
plum

In [2]:
set_a = {1,2,3,4}
set_b = {3,4,5,6}

In [ ]:
set_a|set_b # union of two sets

{1, 2, 3, 4, 5, 6}

In [4]:
set_a.union(set_b)

{1, 2, 3, 4, 5, 6}

In [ ]:
set_a.intersection(set_b) # common items in both sets

{3, 4}

In [6]:
set_a&set_b

{3, 4}

In [8]:
set_a.intersection_update(set_b)
print(set_a)

{3, 4}

In [10]:
set_a
set_b

{3, 4, 5, 6}

In [ ]:
Pavan={1,2,3,4,5,6}
Abhi={5,6,7,8,9,10}


new_set=Pavan.intersection(Abhi)
new_set

{5, 6}

In [18]:
print(Pavan)
print(Abhi)
print(new_set)

{1, 2, 3, 4, 5, 6}
{5, 6, 7, 8, 9, 10}
{5, 6}

In [20]:
Pavan={1,2,3,4,5,6}
Abhi={5,6,7,8,9,10}
Rupesh={6,7,8,9,10,11,1}

Pavan.intersection_update(Abhi)

In [21]:
print(Pavan)
print(Abhi)
print(Rupesh)

{5, 6}
{5, 6, 7, 8, 9, 10}
{1, 6, 7, 8, 9, 10, 11}

In [22]:
Abhi.intersection_update(Rupesh)

In [23]:
print(Pavan)
print(Abhi)
print(Rupesh)

{5, 6}
{6, 7, 8, 9, 10}
{1, 6, 7, 8, 9, 10, 11}

In [24]:
Rupesh.intersection_update(Pavan)

In [25]:
print(Pavan)
print(Abhi)
print(Rupesh)

{5, 6}
{6, 7, 8, 9, 10}
{6}

In [28]:
a={1,6}
b=(1,2,3,4,5)

a.issubset(b)

False

In [29]:
# Disjoint Set this means no  common items between two sets
a={1,2,3}
b={4,5,6}
a.isdisjoint(b)

True

In [30]:
### creating a frozenset 

frozen = frozenset([1,2,3,4,5,1,2,3])
print(frozen)

frozenset({1, 2, 3, 4, 5})

In [31]:
# you cnnot modify it 
frozen.add(6)

AttributeError: 'frozenset' object has no attribute 'add'