In [1]:
# TUPLE DATATYPE ASSIGNMENT
# ========================

# SOLVED EXAMPLE
# --------------
# Question: Find the sum and product of all elements in a tuple
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [2]:
# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")
# Your code here

for i in range(1,11):
    print(i)

Question 1: Create a tuple of first 10 natural numbers
1
2
3
4
5
6
7
8
9
10

In [3]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
# Your code here
tup=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
length_tup=len(tup)
print(length_tup)

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
10

In [4]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
# Your code here
tup=('a', 'b', 'c', 'd', 'e')
for i in tup:
    if i==tup[2]:
        print(i)

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
c

In [6]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
# Your code here
tup=(23, 45, 12, 67, 34, 89, 56)
tup_max=max(tup)
print(tup_max)

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
89

In [7]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
# Your code here
tup=(23, 45, 12, 67, 34, 89, 56)
largest=0
for i in tup:
    if i>largest:
        largest=i
        
print(largest)

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
89

In [11]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
# Your code here
tup=(1,5, 2, 5, 3, 5, 4, 5, 6)
count=0
for i in tup:
    if i==5:
        count+=1
print(count)

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
4

In [12]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
# Your code here
tup=(10, 1.25,"Rupesh",False)
print(tup)

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
(10, 1.25, 'Rupesh', False)

In [13]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
# Your code here
tup=('java', 'python', 'c++', 'javascript')

ind=tup.index('python')
print(ind)

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
1

In [14]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
# Your code here
tup=(10, 20, 30, 40, 50)
for i in tup:
    if i==25:
        print("Exists")
        break
else:
    print("Does not exist")

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
Does not exist

In [16]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")
# Your code here
for i in range (2,11,2):
    print(i)

Question 9: Create a tuple of first 5 even numbers
2
4
6
8
10

In [17]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")
# Your code here
#using list comprehension
even=tuple([i for i in range(2,11) if i%2==0])
print(even)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [20]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
# Your code here 
tup=(15, 23, 31, 42, 56, 78)
for i in tup:
    total=sum(tup)
    avg=total/len(tup)
print(avg)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.833333333333336